body {
	margin: 0;
	font-family: 'Karla', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--color-primary: #5035ff;
	--color-light: #a799ff20;
	--color-placeholder: #bfbcd2;
	--color-text: #342d5d;
	--color-border: #a799ff40;
	--border-radius: 5px;
	--border-style: 1px solid var(--color-border);
	--speed: 500ms;
	--nav-size: 60px;
	--shadow-soft: 0 0 14px 5px #5035ff10;
	--dropdown-width: 304px;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

/* Navbar */

.navbar {
	background-color: white;
	box-shadow: var(--shadow-soft);
	height: var(--nav-size);
	padding: 0 20px;
}

.navbar-nav {
	display: flex;
	height: 100%;
	justify-content: flex-end;
	max-width: 100%;
}

.nav-item {
	align-items: center;
	display: flex;
	justify-content: center;
	width: calc(var(--nav-size) * 0.8);
}

/* Icon */

.icon-button {
	--button-size: calc(var(--nav-size) * 0.5);
	--color-after: var(--color-light);
	--color-before: #c7c3df40;
	align-items: center;
	display: flex;
	height: var(--button-size);
	justify-content: center;
	width: var(--button-size);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.icon-button svg {
	fill: black;
}

.icon-button img {
	height: 100%;
}

.menu-separator {
	background-color: var(--color-border);
	height: 1px;
	width: var(--dropdown-width);
	margin: 7px 0;
	align-self: center;
}

.--circle-button {
	background-color: var(--color-before);
	border-radius: 50%;
	padding: 5px;
	width: 40px;
	height: 40px;
	transition: background-color 250ms;
}

.--circle-button:hover {
	background-color: var(--color-after);
}

.--circle-button svg {
	fill: var(--color-text);
	height: 25px;
	transition: fill 250ms;
}

.--circle-button:hover svg {
	fill: var(--color-primary);
}

.--menu-button-left {
	margin-right: 10px;
}

.--menu-button svg {
	height: 28px;
}

/* Dropdown Menu */

.dropdown {
	background-color: white;
	border-radius: var(--border-radius);
	border: var(--border-style);
	overflow: hidden;
	padding: 7px 10px;
	position: absolute;
	top: calc(var(--nav-size) - 6px);
	transform: translateX(-45%);
	width: var(--dropdown-width);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-shadow: var(--shadow-soft);
	transition: height var(--speed) ease;
}

.menu-item {
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 10px;
	margin: 2.5px 0;
	justify-content: space-between;
}

.menu-item svg {
	fill: var(--color-text);
}

.menu-item-group {
	display: flex;
	align-items: center;
}

.menu-item:hover {
	background-color: var(--color-light);
}

.menu-item:hover svg {
	fill: var(--color-primary);
}

.icon-right {
	margin-left: auto;
}

/* CSS Transition */

.menu {
	display: flex;
	flex-direction: column;
}

.menu-primary-enter {
	position: absolute;
	transform: translateX(-120%);
}

.menu-primary-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}

.menu-primary-exit {
	position: absolute;
}

.menu-primary-exit-active {
	transform: translateX(-120%);
	transition: all var(--speed) ease;
}

.menu-secondary-enter {
	transform: translateX(120%);
}

.menu-secondary-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}

/* .menu-secondary-exit {
} */

.menu-secondary-exit-active {
	transform: translateX(120%);
	transition: all var(-speed) ease;
}
